{% extends 'main.html' %}

{% block content %}

{% if page == 'login' %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="">Username:</label>
         <input type="text" value="Username" placeholder="Enter Username"/>
         <label for="">Password:</label>
         <input type="password" value="Password" placeholder="Enter Password"/>
        <input type="submit" value="Login"/>
    </form>
    <p>Not yet signed up? Click here👇</p>
    <a href="{% url 'register' %}">Sign Up</a>
</div>

{% else %}

<div>
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <!-- .as_p=== wraps the form in p tag -->
        <input type="submit" value="Register"/>
    </form>
    <p>Signed up already? Click here👇</p>
    <a href="{% url 'login' %}">Login</a>
</div>
{% endif %}
{% endblock content %}
